{{ partial "head.html" . }}

<body>
    <div id="blog" style="text-align: center">

        <div class="hasCoverMetaIn" id="main" data-behavior="4" style="min-width: calc(790px);">
        <article class="post" itemscope itemType="http://schema.org/BlogPosting">

          <div class="post-header main-content-wrap text-center">
            <h1 class="post-title" itemprop="headline">
              Whoops!
            </h1>
            <div class="postShorten-meta post-meta">
                <a>404 Error</a>
              </div>
          </div>
          <div class="post-content markdown" itemprop="articleBody">
            <div class="main-content-wrap">
              <p><img style="display: block; margin: 0px auto;" src="/images/404.png"></p>
              <p>You found a broken link</p>
            </div>
            <div style="padding: 30px;">
                <a class="tag tag--primary tag--small" href="{{ "/" | relURL }}">Go Back</a>
            </div>
          </div>
          <!-- <div id="post-footer" class="post-footer main-content-wrap">
            <div class="post-footer-tags"></div>
          </div> -->
        </article>
        <!-- {{ partial "footer.html" . }} -->
      </div>
    </div>

{{ partial "foot.html" . }}